OPENAI_API_VERSION=2025-04-01-preview
AZURE_OPENAI_ENDPOINT=https://kids01-openai01.cognitiveservices.azure.com/openai/responses
AZURE_OPENAI_API_KEY=long_numeric_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls__xxxx
LANGCHAIN_PROJECT=Discharge Summary